<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
<!--    <title>{{ main_title|default:'Без заголовка' }}</title>-->
</head>
<body>

<!--#####################################################################-->
<!--<p>{{ menu|join:' | ' }}</p>-->
<!--<p>{{ float|divisibleby:'2' }}</p>-->
<!--<p>{{ lst|length }}</p>-->
<!--<p>{{ set }}</p>-->
<!--<p>key1: {{ dict.key_1 }}</p>-->
<!--<p>a: {{ obj.a }} b: {{ obj.b }}</p>-->
<!--<p>{{ 'The main page'|slugify }}</p>-->

<!--<p>{{ test }}</p>-->

<!--<p>{{ test2 }}</p>-->

<!--<p>{{ url }}</p>-->

<!--&lt;!&ndash;<h1>{{ title|capfirst  }}</h1>&ndash;&gt;-->
<!--&lt;!&ndash;<h1>{{ title|cut:' ' }}</h1>&ndash;&gt;-->
<!--<h1>{{ title|cut:' '|cut:'?' }}</h1>-->
<!--#####################################################################-->

<p>{{ menu }}</p>

</body>
</html>
